global
    log stdout format raw local0
    daemon

defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend db_proxy
    bind *:5000
    default_backend db_cluster

backend db_cluster
    option httpchk GET /primary
    server-template db 2 tasks.db:5432 check port 8008 resolve-prefer ipv4

frontend redis_proxy
    bind *:6379
    default_backend redis_cluster

backend redis_cluster
    option tcp-check
    tcp-check send AUTH\ redispass\r\n
    tcp-check expect string +OK
    tcp-check send PING\r\n
    tcp-check expect string +PONG
    tcp-check send info\ replication\r\n
    tcp-check expect string role:master
    tcp-check send QUIT\r\n
    tcp-check expect string +OK
    server-template redis-master 1 tasks.redis-master:6379 check inter 1s resolve-prefer ipv4
    server-template redis-replica 2 tasks.redis-replica:6379 check inter 1s resolve-prefer ipv4
